{% extends "manage/menu.html" %} {% block right %}
{% for chap in chaps %}
<div class="">{{chap.c_index}}</div>
<form method="post" action="/update_chapter/{{chap.c_id}}">
    <input name="chapname_{{chap.c_id}}" type="text" value="{{chap.name}}">
    <input name="chapdesc_{{chap.c_id}}" type="text" value="{{chap.desc}}">
    <input type="submit" value="修改章">
</form>
<a href="/delete_chapter/{{chap.c_id}}">删除章</a>
{% for sec in chap.secs %}
<div class="">{{sec.s_index}}</div>
<form method="post" action="/update_section/{{chap.c_id}}/{{sec.s_id}}">
    <input name="secname_{{chap.c_id}}_{{sec.s_id}}" type="text" value="{{sec.name}}">
    <input name="secdesc_{{chap.c_id}}_{{sec.s_id}}" type="text" value="{{sec.desc}}">
    <input type="submit" value="修改节">
</form>
<a href="/delete_section/{{chap.c_id}}/{{sec.s_id}}">删除节</a>
{% endfor %}
<form method="post" action="/add_section/{{chap.c_id}}">
    <input name="secname_{{chap.c_id}}" type="text">
    <input name="secdesc_{{chap.c_id}}" type="text">
    <input type="submit" value="添加节">
</form>
{% endfor %}
<form method="post" action="/add_chapter">
    <input name="chapname" type="text">
    <input name="chapdesc" type="text">
    <input type="submit" value="添加章">
</form>
{% endblock %}