{% extends "manage/menu.html" %} {% block right %}
{% for file in files %}
<h3>{{file.desc}}</h3>
<form action="/add_file/{{file.typ}}" method="POST" enctype="multipart/form-data">
    <div class="ui grid">
        <div class="four wide column"><input type="text" name="name" id="" placeholder="{{file.desc}}名称"></div>
        <div class="four wide column"><input type="text" name="desc" id="" placeholder="{{file.desc}}简述"></div>
        <div class="five wide column"><input type="file" name="file"></div>
        <div class="three wide column"><input type="submit" name="input" value="添加{{file.desc}}"></div>
      </div>
</form>
<div class="ui hidden divider"></div>
{% for data in file.list %}
<form method="post" action="/update_file/{{file.typ}}/{{data.name}}" method="POST" enctype="multipart/form-data">
    <div class="ui grid">
        <div class="four wide column"><input name="name" type="text" placeholder="{{data.name}}"></div>
        <div class="four wide column"><input name="desc" type="text" placeholder="{{data.desc}}"></div>
        <div class="five wide column"><input type="file" name="file"></div>
        <div class="three wide column"><input type="submit" value="修改"></div>
      </div>
</form>
<div class="ui grid">
    <div class="ten wide column">
        <p>文件名：{{data.file}}</p>
    </div>
    <div class="three wide column">
        <a href="{{url_for('static',filename=data.path)}}" methods="GET" target="_blank">查看</a>
    </div>
    <div class="three wide column"><a href="/delete_file/{{file.typ}}/{{data.name}}">删除</a></div>
</div>
<div class="ui hidden divider"></div>

{% endfor %}
{% endfor %}
{% endblock %}