{% extends "manage/menu.html" %} {% block right %}
<form action="/add_media_file" method="POST" enctype="multipart/form-data">
    <div class="ui grid">
        <div class="three wide column">
            <div class="ui pointing dropdown link item button">
                <input type="hidden" name="select chap">
                <div class="default text">选择章节</div>
                <div class="menu">
                    {% for chap in chaps %}
                    <div class="item">
                        <i class="dropdown icon"></i>
                        <span class="text">{{chap.c_index}}</span>
                        <div class="menu">
                            {% for sec in chap.secs %}
                            <div class="item" data-value="{{chap.c_id}} {{sec.s_id}}">{{sec.c_s_index}}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="four wide column">
            <input type="file" name="ppt_file"><span id="text">PPT源文件.ppt</span>
        </div>
        <div class="four wide column"> <input type="file" name="png_file"><span id="text">PPT压缩文件.zip</span></div>
        <div class="four wide column"> <input type="file" name="video_file"><span id="text">视频文件.mp4</span></div>
        <div class="one wide column">
            <input type="submit" name="upload_file" value="确定">
        </div>
    </div>
</form>
{% for chap in chaps %}
{% for sec in chap.secs %}
<div class="ui grid">
    <div class="four wide column">
        <button class="ui button">
            {{sec.c_s_index}}
        </button>
    </div>
    {% for item in sec.media_data %}
    <div class="four wide column">
        {% if item.exit %}
        <button class="ui button">
            <a href="/clear_media_file/{{chap.c_id}}/{{sec.s_id}}/{{item.type}}" class="">清除{{item.type}}</a>
        </button>
        {% else %}
        <button class="negative ui button">
            <a href="/clear_media_file/{{chap.c_id}}/{{sec.s_id}}/{{item.type}}" class="">{{item.type}}缺失</a>
        </button>
        {% endif %}
    </div>
    {% endfor %}
</div>


{% endfor %}
{% endfor %}
{% endblock %}