{% extends "main/menu.html" %} {% block right %}
<h2>所有案例</h2>
{% for data in file.list %}
<div class="ui grid">
    <div class="six wide column"><p>案例名称：{{data.name}}</p></div>
    <div class="six wide column"><p>案例描述：{{data.desc}}</p></div>
    <div class="two wide column"><a href="{{ url_for('static',filename=data.path) }}">查看</a></div>
    <div class="two wide column"><a href="{{ url_for('static',filename=data.path) }}" download="{{data.file}}">下载</a></div>
  </div>
<div class="ui hidden divider"></div>
{% endfor %}
{% endblock %}