{% extends "main/menu.html" %} {% block right %}
<div class="ui left aligned segment">
    <div class="ui container">
        <div class="ui grid">
            <div class="four wide column">
                <p>第一章第一节</p>
            </div>
            <div class="six wide column">
                <p>内容aaaaaaaaaaaaa</p>
            </div>
            <div class="three wide column">
                <p>查看</p>
            </div>
            <div class="three wide column">
                <p>下载</p>
            </div>
        </div>
        <div class="ui grid">
            <div class="four wide column">
                <p>第一章第一节</p>
            </div>
            <div class="six wide column">
                <p>内容aaaaaaaaaaaaa</p>
            </div>
            <div class="three wide column">
                <a href="../../static/files/pdfs/新建 Microsoft Word 文档.pdf" download="name.pdf">下载</a>
            </div>
            <div class="three wide column">
                <a href="../../static/files/pdfs/新建 Microsoft Word 文档.pdf">查看</a>
            </div>
        </div>
        <div class="ui grid">
            <div class="four wide column">
                <p>第一章第一节</p>
            </div>
            <div class="six wide column">
                <p>内容aaaaaaaaaaaaa</p>
            </div>
            <div class="three wide column">
                <p>查看</p>
            </div>
            <div class="three wide column">
                <p>下载</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}