{% extends "main/menu.html" %} {% block right %}

{% for data in file.list %}
<p>{{data.name}}</p>
<p>{{data.desc}}</p>
<a href="{{ url_for('static',filename=data.path) }}">查看</a>
<a href="{{ url_for('static',filename=data.path) }}" download="{{data.file}}">下载</a>
{% endfor %}
<!-- 


<h2>所有作业</h2>
<div class="ui left aligned segment">
    <div class="ui container">
        {% for homework_info in homework_infos %}
        <div class="ui grid">
            <div class="four wide column">
                <p>{{homework_info.name}}</p>
            </div>
            <div class="six wide column">
                <p>{{homework_info.desc}}</p>
            </div>
            <div class="three wide column">
                <a href="{{ url_for('static',filename=homework_info.path) }}">查看</a>
            </div>
            <div class="three wide column">
                <a href="{{ url_for('static',filename=homework_info.path) }}" download="name.pdf">下载</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
 -->
{% endblock %}