{% extends "main/menu.html" %} {% block right %}
<h2>所有作业</h2>
{% for data in file.list %}
<div class="ui grid">
    <div class="six wide column"><p>作业名称：{{data.name}}</p></div>
    <div class="six wide column"><p>作业描述：{{data.desc}}</p></div>
    <div class="two wide column"><a href="{{ url_for('static',filename=data.path) }}">查看</a></div>
    <div class="two wide column"><a href="{{ url_for('static',filename=data.path) }}" download="{{data.file}}">下载</a></div>
  </div>
<div class="ui hidden divider"></div>
{% endfor %}
<!-- 


<h2>所有作业</h2>
<div class="ui left aligned segment">
    <div class="ui container">
        {% for homework_info in homework_infos %}
        <div class="ui grid">
            <div class="four wide column">
                <p>{{homework_info.name}}</p>
            </div>
            <div class="six wide column">
                <p>{{homework_info.desc}}</p>
            </div>
            <div class="three wide column">
                <a href="{{ url_for('static',filename=homework_info.path) }}">查看</a>
            </div>
            <div class="three wide column">
                <a href="{{ url_for('static',filename=homework_info.path) }}" download="name.pdf">下载</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
 -->
{% endblock %}