{% extends "main/menu.html" %} {% block right %}
<div class="ui bulleted list">
    <a class="item" href="site.html#link">列表超链接</a>
    <a class="item" href="site.html#link">列表超链接</a>
    <a class="item" href="site.html#link">列表超链接</a>
</div>
<div class="ui card">
    <a class="image" href="site.html#link">
        <img src="../images/avatar/large/steve.jpg">
    </a>
    <div class="content">
        <a class="header" href="site.html#link">乔布斯</a>
        <div class="meta">
            <a class="time">活着就是为了改变世界</a>
        </div>
    </div>
</div>
<div class="ui very relaxed items">
    <div class="item">
        <div class="image">
            <img src="../images/wireframe/image.png">
        </div>
        <div class="content">
            <a class="ui header" href="site.html#link">超链接标题</a>
            <div class="description">
                <p>Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus, nec rutrum ipsum luctus. Ut posuere nec tortor eu ullamcorper. <a href="site.html#link">Etiam pellentesque</a> tincidunt tortor, non sagittis nibh pretium sit amet.
                    Sed neque dolor, blandit eu ornare vel, lacinia porttitor nisi. Vestibulum sit amet diam rhoncus, consectetur enim sit amet, interdum mauris. Praesent feugiat finibus quam, porttitor varius est egestas id.</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="image">
            <img src="../images/wireframe/image.png">
        </div>
        <div class="content">
            <a class="ui header" href="site.html#link">超链接标题</a>
            <div class="description">
                <p>Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus, nec rutrum ipsum luctus. Ut posuere nec tortor eu ullamcorper. <a href="site.html#link">Etiam pellentesque</a> tincidunt tortor, non sagittis nibh pretium sit amet.
                    Sed neque dolor, blandit eu ornare vel, lacinia porttitor nisi. Vestibulum sit amet diam rhoncus, consectetur enim sit amet, interdum mauris. Praesent feugiat finibus quam, porttitor varius est egestas id.</p>
            </div>
        </div>
    </div>
    <div class="ui text container">
        asdfasdfasdfasdfasdfasdfasd asdfasdfasdfasdfasdfasdfasd
    </div>
</div>
{% endblock %}