{% extends "main/menu.html" %} {% block right %}
<div class="ui very relaxed items">
    <h2 class="ui header">课程介绍</h2>
    <div class="item">
        <div class="content">
            <div class="description">
                <h4>“智能数据分析技术与应用”是一门前沿性、交叉性、综合性课程，具有理论性强和应用性广的特点。课程通过与英特尔合作建设，结合需求设计课程内容，使课程内容更能反映当前的社会需求。</h4>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <div class="description">
                <h4>课程主要介绍数据科学处理数据的工作流程以及如何基于Python第三方科学计算库实现数据分析的技术，包括数据加载、数据规整化和探索、机器学习建模技术和数据可视化，并通过图像、文本等前沿应用，引入人工智能技术在数据科学领域应用的最新成果。</h4>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <div class="description">
                <h4>课程采用理论与实践相结合的方式，通过本课程的学习，使学生能够理解数据科学的知识，掌握实践技能。并通过实际案例，理解机器学习、深度学习方法及在文本分类、图像分类等人工智能前沿领域的应用，使学生具备利用机器学习和深度的方法解决实际数据分析问题、构建基于数据分析的应用系统的能力。</h4>
            </div>
        </div>
    </div>
</div>
<!-- <div class="ui bulleted list">
    <a class="item" href="site.html#link">列表超链接</a>
    <a class="item" href="site.html#link">列表超链接</a>
    <a class="item" href="site.html#link">列表超链接</a>
</div>
<div class="ui card">
    <a class="image" href="site.html#link">
        <img src="../images/avatar/large/steve.jpg">
    </a>
    <div class="content">
        <a class="header" href="site.html#link">乔布斯</a>
        <div class="meta">
            <a class="time">活着就是为了改变世界</a>
        </div>
    </div>
</div>
<div class="ui very relaxed items">
    <div class="item">
        <div class="image">
            <img src="../images/wireframe/image.png">
        </div>
        <div class="content">
            <a class="ui header" href="site.html#link">超链接标题</a>
            <div class="description">
                <p>Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus, nec rutrum ipsum luctus. Ut posuere nec tortor eu ullamcorper. <a href="site.html#link">Etiam pellentesque</a> tincidunt tortor, non sagittis nibh pretium sit amet.
                    Sed neque dolor, blandit eu ornare vel, lacinia porttitor nisi. Vestibulum sit amet diam rhoncus, consectetur enim sit amet, interdum mauris. Praesent feugiat finibus quam, porttitor varius est egestas id.</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="image">
            <img src="../images/wireframe/image.png">
        </div>
        <div class="content">
            <a class="ui header" href="site.html#link">超链接标题</a>
            <div class="description">
                <p>Ut imperdiet dignissim feugiat. Phasellus tristique odio eu justo dapibus, nec rutrum ipsum luctus. Ut posuere nec tortor eu ullamcorper. <a href="site.html#link">Etiam pellentesque</a> tincidunt tortor, non sagittis nibh pretium sit amet.
                    Sed neque dolor, blandit eu ornare vel, lacinia porttitor nisi. Vestibulum sit amet diam rhoncus, consectetur enim sit amet, interdum mauris. Praesent feugiat finibus quam, porttitor varius est egestas id.</p>
            </div>
        </div>
    </div>
    <div class="ui text container">
        asdfasdfasdfasdfasdfasdfasd asdfasdfasdfasdfasdfasdfasd
    </div>
</div> -->
{% endblock %}