{% extends "main/menu.html" %} {% block right %}
<div class="ui center aligned segment">
    <h3>视频标题</h3>
    <video width="720" height="480" controls>
        <source src="{{url_for('static',filename:{{video_path}})}}" type="video/mp4">
    </video>
</div>
<div class="ui center aligned segment">
    <h3>PPT标题</h3>
    <img class="ui bordered fluid image" src="../../static/">
    <p>第一页</p>
    <img class="ui bordered fluid image" src="../../static/files/ppts/1/幻灯片1.PNG">
    <p>第一页</p>
    <img class="ui bordered fluid image" src="../../static/files/ppts/1/幻灯片1.PNG">
    <p>第一页</p>
    <img class="ui bordered fluid image" src="../../static/files/ppts/1/幻灯片1.PNG">
    <p>第一页</p>
    <img class="ui bordered fluid image" src="../../static/files/ppts/1/幻灯片1.PNG">
    <p>第一页</p>
    <img class="ui bordered fluid image" src="../../static/files/ppts/1/幻灯片1.PNG">
    <p>第一页</p>

</div>
{% endblock %}