{% extends "main/menu.html" %} {% block right %}
<div class="ui center aligned segment">
    <h3>{{video_infos.name}}</h3>
    <video width="720" height="480" controls>
        <source src="{{ url_for('static',filename=video_infos.path) }}" type="video/mp4">
    </video>
</div>
<div class="ui center aligned segment">
    <h3>{{ppt_infos.name}}</h3>
    {% for png in ppt_infos.pngs %}
    <img class="ui bordered fluid image" src="{{ url_for('static',filename=png.path) }}">
    <p>{{png.name}}</p>
    {% endfor %}
</div>
{% endblock %}