{% extends "base/base.html" %} {% block left %}
<div class="ui fluid vertical pointing menu">
    <a class="item" href="{{url_for('index')}}">
        课件介绍
    </a>
</div>
<div class="ui fluid vertical pointing menu">
    <a class="item" href="{{url_for('chart')}}">
        教学大纲
    </a>
</div>
<div class="ui fluid styled accordion">
    <div class="active title"> 课件</div>
    <div class="active content">
        <div class="accordion">
            {% for chap in chaps %}
            <div class="active title">
                <i class="dropdown icon"></i>{{chap.c_index}} {{chap.name}}
            </div>
            <div class="active content">
                <p>{{chap.desc}}</p>
                <div class="accordion">
                    {% for sec in chap.secs %}
                    <div class="title">
                        <i class="dropdown icon"></i>{{sec.s_index}} {{sec.name}}
                    </div>
                    <div class="content">
                        <p>{{sec.desc}}</p>
                        <div class="ui hidden divider"></div>
                        <form action="" method="GET">
                            <a href="/media/{{chap.c_id}}/{{sec.s_id}}" class="href">视频&PPT</a>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="ui fluid vertical pointing menu">
    <a class="item" href="/file/case">
        案例
    </a>
</div>
<div class="ui fluid vertical pointing menu">
    <a class="item" href="/file/home">
        作业
    </a>
</div>
{% endblock %}